extends index
include mixins/movieBlock

block content
    h1 #{head}
    each movie in movies
        +movieBlock({
            id: movie.id,
            title: movie.title,
            year: movie.year,
            rating: movie.rating,
            genres: movie.genres,
            summary: movie.summary,
        })