extends layouts/main

block content
    h1 #{pageTitle}

    form(action="/", method="post", enctype="multipart/form-data")
        input(type="file", name="txtFile", required=true, accept="text/plain")
        input(type="submit", value="convert")